body {
    margin: 0;font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #EFEBE9;
}

.serviceholder{
	margin-top: 150px;
}
.servicecontainer{
	margin-top: 20px;
	padding: 2px;
}

.introholder{
	background-color: #D7CCC8 !important;
	width: 100%;
	height: 330px;
}
.introtitle{
	text-align: center!important;
	padding-top: 4%;
}
.availableServices{
	/* background-color: #D7CCC8 !important; */
	width: 100%;
	height: 150px;

}
.servicetitle{
	text-align: center!important;
	padding-top: 4%;
}
.avservice{
	height: 200px;
}
.desc, button{
	margin-top: 10px;
	text-align: center;

}